html {
	font-family: 'Space Grotesk', sans-serif;
}
h1,h2,h3,h4 {
	font-family: 'zilla slab', serif;
	font-weight: 400;
}

.hightlight {
	font-family: 'Zilla Slab Highlight', cursive;
	font-weight: 700;
}

.text-zilla {
	font-family: 'zilla slab', serif;
	font-weight: 400;
}