---
const today = new Date();
---

<footer>
	<span class="inline-block bg-slate-800 text-white px-4 py-2 text-xs">	
		&copy; {today.getFullYear()} Indra Pratama Putra SH MKn. All rights reserved.
	</span>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
